<div class="container">
  <div class="top-section">
    <img src="../../assets/partners.png" alt="partners">
  </div>
  <div class="bottom-section">
    <form class="external-company-form" [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
      <h1 class="title">{{ id ? 'Atualizar informações de parceiro 👨‍💼💼' : 'Cadastre um parceiro 👨‍💼💼' }}</h1>
      <h5 class="subtitle">{{'Digite um nome para o parceiro:' }}</h5>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Nome</mat-label>
        <input type="text" id="name" formControlName="name" matInput>
      </mat-form-field>
      <button mat-raised-button style="background: #EB6625" type="submit" [disabled]="partnerForm.invalid">
        <span style="color: white;">{{ id ? 'Atualizar' : 'Cadastrar' }}</span>
      </button>
    </form>
  </div>
</div>