.container {
  height: 600px;
  width: 900px;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  height: 40%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding-top: 30px;
  height: 50%; 
}

.title {
    margin: 20px 0;
  font-size: 24px;
  font-family: "Montserrat", Sans-serif;
}

.subtitle {
  font-family: "Montserrat", Sans-serif;
  color: orange;
  font-size: 14px;

}

.external-company-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}