<div class="container">
  <h2 class="title">Sobre a Aplicação</h2>
  <p class="text">Esta aplicação foi desenvolvida utilizando Angular 15 para a gestão de parceiros e empresas externas. <br/>
    O objetivo é facilitar o CRUD dessas entidades com uma interface amigável e moderna. <br/> 
    Tecnologias usadas: Angular 15, TypeScript, HTML, SCSS, MockAPI para simulação das APIs. <br/>
    Desenvolvido com foco em boas práticas e usabilidade.
  </p>
  <img class="image" src="../../assets/office.jpeg" />
</div>