.left-side {
  padding-left: 20px;
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 95%;
  width: 50em;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #151515;
}

.box {
  border-radius: 15px;
  display: flex;
  width: 100em;
  height: 80%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.right-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


.login-message-box {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100px; 
  width: 80%; 
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  margin: auto;
  font-size: 40px;
  color: #151515;
}

.subtitle {
  font-family: "Montserrat", Sans-serif;
  margin: auto;
  font-size: 18px;
  color: #151515;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

.keep-logged-in-checkbox {
  font-size: 11px;
  padding: 0 20px 20px 0;
}

.login-button {
  background-color: #EB6625; 
  width: 100%;
}