.container {
    height: 70vh;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    height: 20%;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80%;
    flex-direction: column;
}

.title {
    font-family: "Montserrat", Sans-serif;
    margin: 40px 0;
}

.subtitle {
    font-family: "Montserrat", Sans-serif;
    color: orange;
}

.external-company-form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}