.container {
    height: 70vh;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    height: 20%;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80%;
    flex-direction: column;
}

.title {
    margin-bottom: 40px;
}

.external-company-form {
    margin-top: 70px;

    display: flex;
    flex-direction: column;
}