.container {
    height: 600px;
    width: 900px;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;    
    height: 10%;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    padding-top: 160px;
    height: 50%; 
}

.title {
    font-family: "Montserrat", Sans-serif;
    margin: 20px 0;
    font-size: 24px;
}

.subtitle {
    font-family: "Montserrat", Sans-serif;
    color: orange;
    font-size: 14px;
}

.external-company-form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
