<div class="container">
  <h2>{{ id ? 'Editar Empresa Externa' : 'Cadastrar Empresa Externa' }}</h2>
  <form class="external-company-form" [formGroup]="companyForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Nome</mat-label>
      <input type="text" id="name" formControlName="name" matInput>
    </mat-form-field>
    <button class="submit-button" mat-raised-button style="background: #EB6625" type="submit" [disabled]="companyForm.invalid">
      <span style="color: white;">{{ id ? 'Atualizar' : 'Cadastrar' }}</span>
    </button>

  </form>
</div>