.container {
  background-color: #151515;
}

.logo {
  padding: 10px 0 0 20px;
  height: 40px;
  width: 90px;
}

.welcome-message {
  color: #fff; 
  padding: 0 0 0 20px;
  font-size: 15px;
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-container {
  border-right: .1px solid white;
}

.button-container, .about-button, .exit-button {
  padding: 0 20px 0 20px;
  border-radius: 0px;
  font-size: 12px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
}

.exit-button {
  margin-left: 80px;
}

.button-container:hover,
.about-button:hover,
.exit-button:hover {
  color: #EB6625;
  background-color: #151515;
}