.container {
  background-color: #151515;
}

.logo {
  padding: 10px 0 0 50px;
  height: 40px;
  width: 90px;
}

.title {
  padding-left: 20px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  color: #EB6625;
}

.title2 {
  font-family: "Montserrat", Sans-serif;
  padding-left: 10px;
  font-weight: 600;
}


.example-spacer {
  flex: 1 1 auto;
}

.button-container {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0px;
  border-right: .5px solid white;
  font-size: 12px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
}

.about-button {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0px;
  font-size: 12px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
}

.exit-button {
  margin-left: 80px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0px;
}

.button-container:hover,
.about-button:hover,
.exit-button:hover {
  color: #EB6625;
  background-color: #151515;
}